.App {
  text-align: center;
}

.gif img {
  width: 40rem;
  height: 30rem;
}

.gifs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gif {
  border: 1px solid black;
  width: 42rem;
  margin: 2rem;
  padding: 1rem;
}